<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmz.application.mapper.DeleteRowRecordMapper">

    <select id="getDeleteRowList"
            resultType="com.xmz.application.model.event.entity.DeleteRowRecord">
        select * from delete_row_record${tenantSuffix} drr
        where 1 = 1
        <if test="param.recordId != null and param.recordId != ''">
            AND drr.record_id = #{param.recordId}
        </if>
    </select>
</mapper>
 