<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmz.application.mapper.InsertRowRecordMapper">

    <select id="getInsertRowList"
            resultType="com.xmz.application.model.event.entity.InsertRowRecord">
        select * from insert_row_record${tenantSuffix} irr
        where 1 = 1
        <if test="param.recordId != null and param.recordId != ''">
            AND irr.record_id = #{param.recordId}
        </if>
    </select>
</mapper>
 